body {text-align: left;font: 500 .8em/1.4em Arial, Helvetica, Tahoma, sans-serif;margin:0;padding:0;}
a {text-decoration:none;outline:none;}
a:hover {text-decoration:none;}
a img {border:0;}
input, textarea {font-size: 1em;line-height:1em;margin:0;border: 0px !important;opacity: .8 !important;-moz-border-radius: 10px;-webkit-border-radius: 10px;padding: 6px !important;color: #fff !important;}
pre, code, blockquote {display:block;background: #000;padding: 30px;font-size: 12px;border-left: solid 4px #222;}
h1 {font-size: 2.3em;line-height:1em;margin:0;}
h2, h3 {font-size: 1.4em;line-height:1em;margin:0;}
h4 {font-size: 1.2em;font-weight: 700;line-height:1em;margin:0;}
h5, h6 {font-size: 1.1em;line-height:1em;margin:0;padding:0 0 10px;}
/* ----- Navigation */
#fw-mainnavwrap {*z-index: 11;/* IE7 zindex bug puts dropdowns under title */}
#fw-mainnavwrap {width:100%;margin-bottom: 20px;position:absolute;top: 0px;left:0px;display:block !important;}
#fw-mainnavwrap  #fw-nav-menu{font-size:.9em;text-transform:uppercase;margin:0 auto;width:980px;position:relative;z-index:20;}
#fw-mainnavwrap ul {list-style:none;margin:0;padding:0;position:relative;top:0;left:30px;z-index:20;}
#fw-mainnavwrap ul li {display: inline-block;margin:0;padding:0 11px 0 10px;position:relative;zoom: 1;*display: inline;*width: 100px;}
#fw-mainnavwrap ul li a {display:block;text-decoration:none;padding:19px 5px;color:#999;}
#fw-mainnavwrap ul li ul {list-style:none;margin:0;padding:0;top:55px;font-size:11px;-moz-border-radius: 0px !important;-webkit-border-radius: 0px !important;border-radius: 0px !important;z-index: 90;}
.fw-nav-level-1 {*float: left; *top: -100px;}
#fw-mainnavwrap ul li {*height: 56px !important;}
#fw-mainnavwrap .fw-nav-level-1 li {*height: auto !important;*width: auto !important;}
#fw-mainnavwrap ul li:hover .fw-nav-level-1 {*position: relative;*left:-10px;*top:-10px;}
#fw-mainnavwrap ul ul li {padding:0px;margin:0;position:relative;z-index:50;}
#fw-mainnavwrap ul ul li a {padding:10px 35px 10px 15px !important;}
#fw-mainnavwrap ul li:hover ul li ul {list-style:none;margin:0;padding:0;z-index:20;position:absolute;top:0;left:150px;display:none;visibility:hidden;}
#fw-mainnavwrap ul li ul li:hover ul {display:block;visibility:visible;}
#fw-mainnavwrap ul ul ul li, #fw-mainnavwrap ul ul li {float:none;padding:0;margin:0;position:relative;background:none !important;}
/* ----- Header */
#fw-head {margin:70px auto 0px auto;width:900px;z-index: 9;position:relative;*margin-bottom:100px;*top: 70px;}
#fw-head h1 {font-size: 50px;font-weight: 500;letter-spacing:-1px;padding-left: 80px;padding-top: 8px;}
#fw-head h1 a {text-decoration:none;}
#fw-head h2 {font-size: 16px;text-shadow: 1px 1px 3px #000;position:absolute;right:0px;top: 35px;margin-left: 85px;}
.fw-logo {height: 80px;width: 60px;top:10px;position:absolute;}
/* ----- Content */
#fw-blockContainer {width: 980px;margin: 30px auto;padding-top: 20px;overflow:hidden;background: url() transparent;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;}
#fw-blockContainer .fw-title, .blogHeader, .blogHeader a, .sectionHeader  {font-size: 20px;font-weight: 500;margin: 10px 0px;text-decoration:none;color: #fff;}
/* ------ Left Content */
#fw-bigcontain {width:920px;float:left;padding: 0px 30px 10px 30px;line-height:20px;}
.hasSidebar #fw-bigcontain {width:590px; border: none !important;}
/* ----- Footer */
#fw-footer {clear:both;padding: 10px;overflow:hidden;color:#5C5C5C;font-size: 11px;}
#fw-footer #fw-foottext {width: 980px;margin: 0 auto;padding:10px 0px;text-align: center;}
#fw-footer p {float: none !important;margin: 0px auto !important;text-align: left;width: 980px;}
#wildfire {text-align: right !important;}
/* @import url('base.css');*/
html {background:url('') top center fixed repeat;}
a {color:#fff;}
input, textarea {background:#45382b !important;}
a b {color:#e17c33;}
#fw-mainnavwrap a:hover, #fw-mainnavwrap a.fw-current-nav-link {color:#e28032;}
#fw-mainnavwrap ul ul li a:hover, #fw-mainnavwrap ul ul ul li a:hover {background:#e17c33 !important;color:#fff !important;}
#fw-head h1 a{color: #fff;}
#fw-head h2 {color:#e27c32;}
#fw-bigcontain {border-right: dashed 1px #4a3c32;}
#fw-blockContainer .fw-title, #fw-blockContainer .fw-title a {color:#e17c33; text-decoration:none;}
.fw-searchContainer input{background: url() no-repeat right #45382b; }
.album:hover, div.thumbnail img {border: 0px !important;background: #222 !important;}
div.thumbnail img {background:none !important;}
.blogPostDetails .spacer{border-bottom:1px solid #382920 !important;}
#commentSubmitBtn, .fw-button, .fw-button:link, .fw-button:visited {border-top: solid 1px #5f564f !important;border-left: solid 1px #3b3128 !important;border-right: solid 1px #3b3128 !important;background: #2C2119;background: -webkit-gradient( linear, left bottom, left top, color-stop(0.16, rgb(44,33,25)), color-stop(0.79, rgb(74,63,54)));background: -moz-linear-gradient( center bottom, rgb(44,33,25) 16%, rgb(74,63,54) 79%);}
#commentSubmitBtn:hover, .fw-button:hover {color: #000 !important;border-top: solid 1px #ffcd7e !important;border-left: solid 1px #f3af43 !important;border-right: solid 1px #f3af43 !important;background:#E18B01 !important;	background:-webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(225,139,1)), color-stop(0.79, rgb(255,169,31))) !important;background:-moz-linear-gradient(center bottom, rgb(225,139,1) 16%, rgb(255,169,31) 79%) !important;}
.fw-tab-item a:link, #fw-container .fw-tab-item a:visited{color: #fff;}
.fw-tab-item a:hover, .fw-tab-item a:visited:hover {color:#e17c33 !important;}
#fw-footer {border-top: solid 1px #222; background:#111;}
#commentWall img {background:#3f2b20 !important; padding:4px !important; border: 0px !important;}